<!--contactos.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <!--LIBS BOOTSTRAP-->
    <link rel="stylesheet" href="../assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/bootstrap/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/bootstrap/fonts/line-awesome.min.css">
    <link rel="stylesheet" href="../assets/bootstrap/fonts/material-icons.min.css">
    <link rel="stylesheet" href="../assets/poppinsfont/poppinsfont.css">
    <link rel="stylesheet" href="../app.css">

    <!--LIBS JQUERY-->
    <script src="../assets/jquery/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../assets/jquery/jquery-ui.css">
    <script src="../assets/jquery/jquery-ui.min.js"></script>

    <!--Dexie.js-->
    <!--<script src="../assets/dexie/dexie.js"></script>-->

    <script src="../navbar.js"></script>

    <!--<script src="../db.js"></script>

    <script src="../assets/js/contactos.js"></script>-->

</head>

<body>
    <section class="tool-bar d-none p-3 d-flex justify-content-between align-items-center bg-warning bg-opacity-25">

        <button class="button-delete btn btn-sms shadow-sm border rounded">
            <i class="far fa-trash-alt text-danger"></i>
        </button>

        <button class="button-send-sms btn btn-danger btn-sm">Enviar Ofertas a:</button>

        <div class="form-check">
            <input class="check-all form-check-input" type="checkbox" />
        </div>
    </section>

    <ul class="lista-contactos list-unstyled"></ul>

    <a href="./add_contacto.html" class="button-add btn d-flex justify-content-center align-items-center border rounded-circle position-fixed shadow bottom-0 end-0 m-3"
        style="width: 65px;height: 70px; background: var(--bs-green); cursor: pointer;">
        <span class="text-light" style="font-size: xx-large;">+</span>
    </a>


    <script src="../assets/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../offcanvas.js"></script>

</body>

</html>